<div class="input-container">
    <label [for]="label">{{ label }}</label>
    <input [(ngModel)]="value" [type]="(type === 'password' && !isPasswordVisible) ? 'password' : 'text'" 
           [placeholder]="label" 
           [formControl]="inputControl" 
           required
           (ngModelChange)="onChange($event)">
    <button class="icon-button" *ngIf="type === 'password'" (click)="togglePasswordVisibility()">
        <fa-icon class="eye-icon" [icon]="isPasswordVisible ? faEye : faEyeSlash"></fa-icon>
    </button>
    
</div>
