<div class="sidenav">
    <div class="logo">
        <img src="assets/imgs/logo-white.png" alt="Logo">
    </div>
    <div class="space-between"></div>
    <a href="#" class="menu-item" title="Home">
        <span class="icon-circle-active">
          <img src="assets/icons/home.png" class="icon" >
        </span>
        <span class="item-text">Home</span>
    </a>
    <a href="#" class="menu-item" title="Meu Perfil">
        <span class="icon-circle">
          <img src="assets/icons/user.png" class="icon" >
        </span>
        <span class="item-text">Meu Perfil</span>
    </a>
    <a href="#" class="menu-item" title="Caixa de entrada">
        <span class="icon-circle">
          <img src="assets/icons/mail.png" class="icon" >
        </span>
        <span class="item-text">Caixa de entrada</span>
    </a>
    <a href="#" class="menu-item" title="Tarefas">
        <span class="icon-circle">
          <img src="assets/icons/clock.png" class="icon" >
        </span>
        <span class="item-text">Tarefas</span>
    </a>
    <a href="#" class="menu-item" title="Lista">
        <span class="icon-circle">
          <img src="assets/icons/stack-of-sheets.png" class="icon" >
        </span>
        <span class="item-text">Lista</span>
    </a>
    <a href="#" class="menu-item" title="Configurações">
        <span class="icon-circle">
          <img src="assets/icons/setting.png" class="icon" >
        </span>
        <span class="item-text">Configurações</span>
    </a>
    <a href="#" class="menu-item logout" title="Sair">
        <span class="icon-circle">
          <img src="assets/icons/exit.png" class="icon" >
        </span>
        <span class="item-text">Sair</span>
    </a>
</div>
