<div class="overlay" *ngIf="isVisible" (click)="closeModal()"></div>
<div class="right-modal-container" [class.show]="isVisible">
  <div class="header-modal">
    <div class="title">
        <img class="icon-title" src="assets/icons/widget.png">
        <span class="text-title">Adicionar tarefa</span>
    </div>
    <button class="close-modal" (click)="closeModal()"><fa-icon class="icon-close" [icon]="faClose"></fa-icon></button>
    <div class="bar"></div>
  </div>
  <div class="modal-content">
    <app-dropdown (optionSelected)="onOptionSelected($event)"></app-dropdown>
    <div class="description-field">
        <label for="description">Descrição:</label>
        <textarea [(ngModel)]="taskDescription" id="description" rows="5" placeholder="Digite sua descrição da tarefa..."></textarea>
    </div>
    <div class="modal-footer">
        <app-button label="Adicionar" color="#7331D5" borderRadius="10px" [isLoading]="isLoading" (click)="saveData()"></app-button>
        <app-button label="Cancelar" color="#EA2F2C" borderColor="#EA2F2C" borderRadius="10px" (click)="closeModal()"></app-button>
    </div>
  </div>
</div>
