<div class="header-container">
    <div class="left-side">
        <button class="hamburger" (click)="toggleSideMenu()">
            ☰
        </button>
        <div class="search-container">
            <input type="text" placeholder="Procurar..." class="searchbar">
            <img src="assets/icons/loupe.png" class="search-icon">
        </div>
    </div>
    <div class="right-side">
        <button class="btn">
            <img class="icon" src="assets/icons/notification.png">
        </button>
        <button class="btn">
            <img class="icon" src="assets/icons/calendar.png">
        </button>
        <div class="bar-vertical"></div>
        <div class="user-dropdown">
            <button class="btn menu-drop"  (mouseenter)="dropdownVisible=true" >
                <img src="assets/imgs/person/elon_musk.jpeg" class="user-img" >
                <p class="user-name">{{UserLogged}}</p>
                <fa-icon class="arrow" [icon]="dropdownVisible ? faChevronUp : faChevronDown"></fa-icon>

            </button>
            <div *ngIf="dropdownVisible" class="dropdown-options" (mouseleave)="dropdownVisible=false">
                <a href="#">Meus dados</a>
                <a href="#">Alterar senha</a>
                <a href="#">Configurações</a>
                <a href="#">Sair</a>
            </div>
        </div>
    </div>
</div>
